<div class="container">
  <form>
     <img src="../../assets/logo_svg.svg" alt="Description of the image">
     <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
     </div>
     <div class="mb-3">
        <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
     </div>
     <div class="mb-3 form-check">
        <button type="submit" class="btn btn-primary">Connecter</button>
        <a href="/forgot-password" class="forgot-password-link">Mot de passe oublié ?</a>
     </div>
  </form>
</div>
